[submodule "lib/crossfire"]
	path = lib/crossfire
	url = https://github.com/iphong/lib-crossfire.git
[submodule "lib/rx5808"]
	path = lib/rx5808
	url = https://github.com/iphong/lib-rx5808.git
[submodule "lib/smartport"]
	path = lib/smartport
	url = https://github.com/iphong/lib-smartport.git
