[submodule "vtx"]
	path = vtx
	url = https://github.com/iphong/lib-vtx.git
[submodule "crossfire"]
	path = crossfire
	url = https://github.com/iphong/lib-crossfire.git
[submodule "lib/vtx"]
	path = lib/vtx
	url = https://github.com/iphong/lib-vtx.git
[submodule "lib/crossfire"]
	path = lib/crossfire
	url = https://github.com/iphong/lib-crossfire.git
[submodule "lib/rx5808"]
	path = lib/rx5808
	url = https://github.com/iphong/lib-rx5808.git
[submodule "lib/frsky"]
	path = lib/frsky
	url = https://github.com/iphong/lib-frsky.git
